* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* outline: 0.25px solid yellowgreen; */
}
body {
	font-family: 'outfit', sans-serif;
	background-color: black;
}

.container {
	background-color: white;
	margin: 0px 200px;
	display: flex;
	width: 80%;
}

.image-section {
	position: relative;
	width: 40%;
}

.backdrop {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	/* border-radius: 50px; */
}
.backdrop > img {
	height: calc(100vh);
}

.logo-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: oklch(0.5882 0.2368 50 / 50%);
	position: absolute;
	top: 310px;
	left: 0px;
	height: 120px;
	width: 100%;
	overflow: hidden;
	/* border-radius: 50px; */
}
.logo-bg > img {
	height: 100px;
}
.logo-bg > p {
	font-size: 50px;
	margin-left: 20px;
	color: white;

	font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.form-section {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.tagline {
	padding: 50px 50px 50px;
}

.form-container {
	display: flex;
	flex-direction: column;
}

h1 {
	padding: 10px 0px;
	font-size: 3rem;
	background: linear-gradient(
		to right,
		#61021f,
		#890023,
		#b20022,
		#d9001a,
		#ff0000
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	padding: 20px 0px;
	color: rgb(90, 87, 87);
	/* color: whitesmoke; */
}
.form-section > .tagline > p {
	color: gray;
}

.input-container {
	background-color: whitesmoke;
	padding: 0px 50px;
	height: 300px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/* border-radius: 0px 50px 50px 0px; */
	filter: drop-shadow(gray 0.1rem 0.1rem 2px);
}

.inputs {
	display: flex;
	flex-wrap: wrap;
	/* flex-basis: 1; */
	gap: 10px;
}

.inputs > div {
	display: flex;
	flex-direction: column;
}

input {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: none;
	padding: 10px;
}

input:focus {
	outline: 0.5px solid brown;
	filter: drop-shadow(#949494 3px 3px 3px);
}

input::placeholder {
	color: rgb(224, 214, 214);
}

.login-option {
	display: flex;
	gap: 10px;
	padding: 10px 10px 10px 0px;
	text-decoration: none;
	margin-left: 50px;
}
button {
	padding: 10px 40px;
	margin-left: 50px;
	border-radius: 20px;
	border: 1px solid brown;
	color: brown;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

button:hover {
	background-color: brown;
	color: whitesmoke;
	cursor: pointer;
}

a {
	font-weight: bold;
	color: brown;
	text-decoration: none;
	border-radius: 5px;
	padding: 1px 10px;
}
.login-option > a:hover {
	background-color: brown;
	border-radius: 5px;
	padding: 0px 10px;
	color: whitesmoke;
}

label {
	text-transform: uppercase;
	font-size: 10px;
	color: brown;
	padding-bottom: 5px;
	font-weight: bold;
}

input:focus:invalid {
	border: 2px solid brown;
	background-color: #ff3370;
	color: whitesmoke;
}
